.container {
    display: flex;
    flex-direction: column;
}

h1,
h2,
p {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-style: italic;
}

p {
    margin: 20px 15%;
    line-height: 1.8;
    
    text-align: left;
}